


<div class="flex justify-between items-center">
    <h1 class="my-4 text-3xl">スクリーン一覧(<%= @site.name %>)</h1>
    <%= link_to "新しいスクリーンを追加する", new_admin_site_room_path(@site.id), class:"p-2 rounded-xl bg-[#d30000] text-[#ffffff]" %>
</div>


<div id="rooms">
    <% if @rooms.length > 0 %>
        <table>
          <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">スクリーンナンバー</th>
          </tr>
      </thead>
      <tbody>
            <% @rooms.each_with_index do |room, i| %>
              <tr>
                  <td><%= link_to room.id, admin_site_room_path(@site.id,room.id) %></td>
                  <td><%= room.screen_number %></td>
              </tr>
          <% end %>
          </tbody>    
      </table> 
    <% else %> 
        スクリーンがありません   
    <% end %>
</div>

<%= link_to "Siteに戻る", admin_sites_path %>
