<h1>映画一覧</h1>

<div id="movies">
    <table>
        <caption>
            映画一覧
        </caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">名前</th>
                <th scope="col">公開年</th>
                <th scope="col">説明</th>
                <th scope="col">画像URL</th>
            </tr>
        </thead>
        <tbody>
            <% @movies.each_with_index do |movie, i| %>
                <tr>
                    <th><%= i+1 %></th>
                    <td><%= movie.name %></td>
                    <td><%= movie.year %></td>
                    <td><%= movie.description %></td>
                    <td><%= movie.image_url %></td>
                </tr>
            <% end %>
        </tbody>     
    </table>
</div>