<h1><%= @movie.name %></h1>

<div id="movie">
    <table>
        <thead>
            <tr>
                <th scope="col">名前</th>
                <th scope="col">公開年</th>
                <th scope="col">説明</th>
                <th scope="col">画像URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @movie.name %></td>
                <td><%= @movie.year %></td>
                <td><%= @movie.description %></td>
                <td>
                    <img src="<%= @movie.image_url %>">
                </td>
            </tr>
        </tbody>     
    </table>
</div>


<% if @schedules.length > 0 %>
    <div id="reservation">
        <h2>予約する</h2>
        <%= form_with model: nil, url: movie_reservations_path(@movie.id), method: :get do |form| %>
            <div class="form-group">
                <%= form.select :date, options_for_select(@one_week_list) %>
            </div>
            <div class="form-group">
                <%= form.collection_select :schedule_id, @schedules, :id, :view_time %>
            </div>
            <%= form.submit '座席を予約する'%>
        <% end %>
    </div>
 <% end %>

<div id="schedule">
    <h2>スケジュール</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">開始時間</th>
                <th scope="col">終了時間</th>
                <th scope="col">映画館</th>
            </tr>
        </thead>
        <tbody>
            <% @schedules.each_with_index do |movie_schedule, i| %>
                <tr>
                    <td><%= movie_schedule.start_time_short %></td>
                    <td><%= movie_schedule.end_time_short %></td>
                    <td><%= movie_schedule&.screen&.room&.site&.name || "UnKnown" %></td>
                </tr>
            <% end %>
        </tbody>     
    </table>
</div>

<%= link_to "Back", movies_path %>