<%= form_with model: movie , method: request_method do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><%= form.object.errors.full_messages.first %></p>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div>    
    <%= form.radio_button :is_showing, true %>
    <%= form.label :is_showing_true, "公開" %>

    <%= form.radio_button :is_showing, false %>
    <%= form.label :is_showing_false, "非公開" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
