<h1>Admin::Movies#index</h1>
<p>Find me in app/views/admin/movies/index.html.erb</p>


<%= link_to "New Movie", admin_movies_new_path %>

<div id="movies">
    <table>
        <caption>
            映画一覧
        </caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">名前</th>
                <th scope="col">公開年</th>
                <th scope="col">説明</th>
                <th scope="col">画像URL</th>
            </tr>
        </thead>
        <tbody>
            <% @movies.each_with_index do |movie, i| %>
                <tr>
                    <th>
                        <%= link_to movie.id, admin_movie_path(movie.id) %>
                    </th>
                    <td><%= movie.name %></td>
                    <td><%= movie.year %></td>
                    <td><%= movie.description %></td>
                    <td><img src="<%= movie.image_url %>"></td>
                </tr>
            <% end %>
        </tbody>     
    </table>
</div>


<div id="schedule">
    <table>
        <caption>
            スケジュール
        </caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">movie_id</th>
                <th scope="col">開始時刻</th>
                <th scope="col">終了時刻</th>
            </tr>
        </thead>
        <tbody>
            <% @schedules.each_with_index do |schedule, i| %>
                <tr>
                    <th><%= schedule.id %></th>
                    <td><%= schedule.movie_id %></td>
                    <td><%= schedule.start_time %></td>
                    <td><%= schedule.end_time %></td>
                </tr>
            <% end %>
        </tbody>     
    </table>

</div>