<h1><%= @movie.name %></h1>


<div id="schedule">
    <h2>スケジュール</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">開始時間</th>
                <th scope="col">終了時間</th>
            </tr>
        </thead>
        <tbody>
            <% @schedules.each_with_index do |movie_schedule, i| %>
                <tr>
                    <td> <%= link_to movie_schedule.id, admin_schedules_path(movie_schedule.id) %></td>
                    <td><%= movie_schedule.start_time %></td>
                    <td><%= movie_schedule.end_time %></td>
                </tr>
            <% end %>
        </tbody>     
    </table>
</div>



<%= link_to "Back", admin_movies_path %>
<%= link_to "Edit", edit_admin_movie_path(@movie) %>