<h1 class="my-4 text-3xl">ようこそ! <%= @name %> さん</h1>

<div id="reservations" class="w-full">
    <div class="my-4 flex justify-between">
        <h2 class="my-4 text-xl">あなたの予約</h2>
        <%= link_to "新規予約", movies_path, class: "bg-[#766EE5] text-white p-2 rounded"%>
    </div>
    <% if @reservations.length > 0 %>
        <table>
            <thead>
                <tr>
                    <th scope="col">映画名</th>
                    <th scope="col">日付</th>
                    <th scope="col">開始時間</th>
                    <th scope="col">終了時間</th>
                    <th scope="col">スクリーン</th>
                    <th scope="col">映画館</th>
                </tr>
            </thead>
            <tbody>
                <% @reservations.each_with_index do |reservation, i| %>
                    <tr>
                        <td><%= reservation.schedule.movie.name %></td>
                        <td><%= reservation.date %></td>
                        <td><%= reservation.schedule.start_time_short %></td>
                        <td><%= reservation.schedule.end_time_short %></td>
                        <td><%= reservation.schedule&.screen&.room&.screen_number || "UnKnown" %></td>
                        <td><%= reservation.schedule&.screen&.room&.site&.name || "UnKnown" %></td>
                    </tr>
                <% end %>
            </tbody>    
        </table>  
    <% else %> 
        予約はありません   
    <% end %>
</div>

<div id="ranking" class="">
    <div class="my-4">
        <h2 class="my-4 text-xl">ランキング</h2>
    </div>
    <% if @reservations_ranking.length > 0 %>
        <table>
            <thead>
                <tr>
                    <th scope="col">映画名</th>
                    <th scope="col">カウント</th>
                </tr>
            </thead>
            <tbody>
                <% @reservations_ranking.each_with_index do |ranking, i| %>
                    <tr>
                        <td>
                            <%= link_to ranking.movie.name, movie_path(ranking.movie.id)%>
                        </td>
                        <td><%= ranking.total_count %></td>
                    </tr>
                <% end %>
            </tbody>    
        </table>  
    <% else %> 
        ランキングがありません   
    <% end %>
</div>