<h1>スケジュールを追加</h1>
<%= form_with model: [:admin, @movie, @schedule] , method: :post, local: true do |form| %>
    <% if form.object.errors.any? %>
      <p class="error"><%= form.object.errors.full_messages.first %></p>
    <% end %>

    <%= form.fields_for :schedule do |f_schedule| %>
      <div>
          <%= f_schedule.label :movie_id %>
          <%= f_schedule.text_field  :movie_id , value: @movie.id, readonly: true %>
      </div>

      <div>
          <%= f_schedule.label :start_time %>
          <%= f_schedule.datetime_field :start_time %>
      </div>

      <div>
        <%= f_schedule.label :end_time %>
        <%= f_schedule.datetime_field :end_time %>
      </div>
    <% end %>

    <%= form.fields_for :screen do |f_screen| %>
      <div>
        <%= f_screen.label :room_id %>
        <%= f_screen.collection_select :room_id, @rooms, :id , :screen_with_site %>
      </div>
    <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
