<h1>劇場を編集</h1>
<%= form_with model: [:admin, @site] , method: :put, local: true do |f| %>
    <% if f.object.errors.any? %>
      <p class="error"><%= f.object.errors.full_messages.first %></p>
    <% end %>

    <div>
        <%= f.label :name %>
        <%= f.text_field  :name%>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>
<%= button_to "削除", [:admin, @site], { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %>